{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <div class="card shadow mx-auto" style="max-width: 600px;">
        <div class="card-header bg-success text-white text-center">
            <h4>
                <i class="fa fa-leaf"></i> Edite  Seeds
            </h4>
        </div>

        <div class="card-body">
            <form method="post"
                  action="{% url 'updateseeds' seed_id=data.id %}"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <!-- Seed Name -->
                <div class="mb-3">
                    <label class="form-label">Seed Name</label>
                    <input type="text"
                           value="{{data.seeds_name}}"
                           class="form-control"
                           name="seed_name"

                           placeholder="Enter seed name"
                           required>
                </div>

                <!-- Seed Type -->
                <div class="mb-3">
                    <label class="form-label">Seed Type</label>
                    <input type="text"
                           class="form-control"
                           name="seed_type"
                           value="{{data.seeds_type}}"
                           placeholder="Eg: Vegetable, Grain, Fruit"
                           required>
                </div>

                <!-- Quantity -->
                <div class="mb-3">
                    <label class="form-label">Quantity (kg)</label>
                    <input type="number"
                           class="form-control"
                           name="quantity"
                           value="{{data.seeds_quantity}}"
                           placeholder="Enter quantity"
                           required>
                </div>

                <!-- Price -->
                <div class="mb-3">
                    <label class="form-label">Price (₹)</label>
                    <input type="number"
                           class="form-control"
                           name="price"
                           value="{{data.seeds_price}}"
                           placeholder="Enter price"
                           required>
                </div>

                <!-- Seed Image -->
                <div class="mb-3">
                    <label class="form-label">Seed Image</label>
                     <img src="{{ data.seeds_image.url }}" width="50px">
                    <input type="file"
                           class="form-control"
                           name="seed_image"


                           accept="image/*"
                           >
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control"
                              name="description"
                              rows="3"
                              placeholder="Enter seed description">{{data.seeds_description}}</textarea>
                </div>

                <!-- Buttons -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Add Seeds
                    </button>

                    <a href="#" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}
