{% extends 'base.html' %}

{% block content %}
 <div class="row mt-4">
                        <div class="col-md-3">
                            <div class="card text-bg-success">
                                <div class="card-body">Farmers<br><h4>120</h4></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-bg-primary">
                                <div class="card-body">Buyers<br><h4>80</h4></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-bg-warning">
                                <div class="card-body">Harvest Products<br><h4>150</h4></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-bg-danger">
                                <div class="card-body">Requirements<br><h4>60</h4></div>
                            </div>
                        </div>
                    </div>

{% endblock %}